opscode_dir = '/etc/opscode'
log_level                :info
log_location             STDOUT
node_name                'admin'
client_key               "#{opscode_dir}/admin.pem"
validation_client_name   "bcpc-validator"
validation_key           "#{opscode_dir}/bcpc-validator.pem"
chef_server_url          'https://{{ chef_server }}/organizations/bcpc'
cache_type               'BasicFile'
cache_options( :path => '/home/operations/.chef/checksums' )
cookbook_path [ '{{ bootstrap_staging_dir }}/deployed/cookbooks' ]
