#!/bin/bash
if [[ ! -f tempchef.pub ]]; then
  ssh-keygen -t rsa -f tempchef -N ''
fi

if ! grep -q -f /home/operations/tempchef.pub /home/operations/.ssh/authorized_keys; then
  chmod +w ~/.ssh/authorized_keys
  cat tempchef.pub >> ~/.ssh/authorized_keys
  chmod -w ~/.ssh/authorized_keys
  chmod 0600 tempchef.pub
fi
