.rake_test_cache
.bundle/
.chef/
.idea/
.vagrant/
*.iml
id_rsa
secret_file
cluster.txt
cluster.yml
cluster.yaml
bootstrap/ansible_scripts/inventory*
!bootstrap/ansible_scripts/inventory.template
bootstrap/ansible_scripts/group_vars
!bootstrap/ansible_scripts/group_vars/*.template
bootstrap/config/bootstrap_config.sh
bootstrap/config/bootstrap_config.sh.overrides
cacerts/
cookbooks/apt/
cookbooks/chef-solo-search/
cookbooks/cron/
cookbooks/ntp/
cookbooks/ubuntu/
cookbooks/yum/
environments/*
vbox_override.sh
.*.sw*
*~
