---
cluster_name: Test-Laptop-Ansible
nodes:
  ansible-bcpc-bootstrap:
    domain: bcpc.example.com
    hardware_type: Virtual
    ip_address: 10.0.100.3
    ipmi_address: null
    ipmi_username: null
    ipmi_password: null
    mac_address: null
    role: bootstrap
    cobbler_profile: bcpc_host
  bcpc-vm1:
    domain: bcpc.example.com
    hardware_type: Virtual
    ip_address: 10.0.100.11
    ipmi_address: null
    ipmi_username: null
    ipmi_password: null
    mac_address: null
    role: head
    cobbler_profile: bcpc_host
  bcpc-vm2:
    domain: bcpc.example.com
    hardware_type: Virtual
    ip_address: 10.0.100.12
    ipmi_address: null
    ipmi_username: null
    ipmi_password: null
    mac_address: null
    role: work
    cobbler_profile: bcpc_host
  bcpc-vm3:
    domain: bcpc.example.com
    hardware_type: Virtual
    ip_address: 10.0.100.13
    ipmi_address: null
    ipmi_username: null
    ipmi_password: null
    mac_address: null
    role: work-ephemeral
    cobbler_profile: bcpc_host
