chef_server_url "https://{{ chef_server }}/organizations/bcpc"
log_location '/var/log/chef/client.log'
validation_client_name "bcpc-validator"
verify_api_cert true
# Using default node name (fqdn)



Dir.glob(File.join("/etc/chef", "client.d", "*.rb")).each do |conf|
  Chef::Config.from_file(conf)
end
